.body{
	font-size: 72px;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	font-family: 'Poiret One', cursive;
	color:#d1d1d1;
}
img{
	max-width: 5%;
	font-family: 'Poiret One', cursive;
}
p{
	font-size: 24px;
	font-family: 'Poiret One', cursive;
}
